
ul{
    list-style:none;
}
a{
    text-decoration: none;
}
.packages{
    margin-left: 30px !important;
}
.form-horizontal .control-label{
    text-align: left !important;
}
.form_container{
    margin: 0px auto;
    border:1px solid #e5e5e5;
    border-radius: 20px;
}
fieldset{
    border:1px solid black !important;
    padding:10px;
}
.gap{
    padding-left:30px;
}
.form_title{
    text-align:start;
}
.space{
    margin-top: 10px;
}
.move{
    float:right;
}
.container-narrow{
    margin: 0 auto;
    max-width: 600px;
    border-radius: 20px;
}
.form-signin { 
    padding: 19px 29px 29px; 
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05); -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05); box-shadow: 0 1px 2px rgba(0,0,0,.05);
    /* background-color: #f5f5f5; */
    border-radius: 20px;
}
 .form-signin .checkbox {
   margin-bottom: 10px;
   padding-bottom: 15px;
     }
.checkbox{
    padding-left: 20px;
}
.form-signin-heading{
    margin-bottom: 5px; 
    margin-top: 5px; 
    padding-bottom: 15px;
}
.btn-align{
    float:right; 
    margin-right: 90px;  
    margin-top: -40px;
}
.btn-space{
    margin-right: 10px;
}
.form-width{
    width:500px;
}
.headrer-height{
    height: 50px;
    padding: 15px 0px; 
    margin-top:10px;
}
.header-margin{
    margin-left: 120px;
}
.metro{
    height: 160px; 
    width: 250px;
    border:1px solid #e5e5e5; 
    border-radius: 10px;
}
.menu-border{
    border-left: 1px solid #e5e5e5;
    margin: 5px 0px 0px 25px; 
}
.nav-border{
    /* border: 1px solid #e5e5e5; */
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
}
.txt-padding{
    padding-left: 0px !important
}
.btn:hover{
    background-color: #e6e6e6;
}
.container p{
    text-align: center;
}
.div-border{
    border-bottom: 1px solid #e5e5e5; 
    padding: 10px 0px;
}
.menu-border div:last-of-type{
    border:none;
}
.span{
    margin:10px;
}
.comment{
    border-top-width: 0px; 
    padding-bottom: 10px;
    padding-top: 10px;
}
.div-margin{
    margin-bottom: 0px;
}
.more-comment{
    font-size: 12px;
    border-top: 1px solid #B8BFBC;
}
.div-padding{
    padding:5px;
}
.a-padding{
    margin: 5px 15px 0px 30px; 
    padding-bottom:  0px;
}
.colour{
    color:#878783;
}
#comment{
    margin-right: 10px;
}
.div-space{
    margin-right: 40px;
}
.div-inline{
    display: inline;
    margin: 0px 15px 0px 30px;
}
/** {
  .border-radius(0) !important;
}*/
/*.add-more{
    border-radius: 25px;
}*/

#field {
    margin-bottom:20px;
}
.div-border{
    border: 1px solid #e5e5e5;
}
.mar-bot{
    margin-bottom: 20px;
}
.mar-left{
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 0px !important;
}
/* .div-padding-left{
    padding-left: 0px;
} */
.navbar{
    margin-bottom: 0px !important;
}
.navbar-nav  li  a{
    padding: 7px 15px;
}
.header_nav{
        box-shadow:0 1px 3px #ddd;
        border-color: #e7e7e7;
        border-width: 0 0 1px;
 }
 .div-padding-top{
     margin-top: 10px;
 }
 .div-width{
     width:250px;
 }
 .row-margin{
     margin-right: 0px;
     margin-left:0px; 
 }
 #scroll1{
    float:left;
    width:400px;
    overflow-y: auto;
    height: 80px;
 }
 .temp_show{ 
display: none;
}

/*.temp_show:hover .showme{
display : block;
}*/

#temp1:hover{
    background: gray;
   text-shadow:2px 2px red;
}
select.decorated option:hover {
        box-shadow: 0 0 10px 100px #1882A8 inset;
}
   
.temp{
 display: none;       
}
.col-upload{
   background-color: #f5f5f5;
   border:none;
}
